{% extends "layout.html" %}
{% block main %}
<main>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-1">

        </div>
        <div class="col-md-8 col-sm-8 col-10 services_content">
            <h4>Preventive Care :</h4>
            <p>We emphasize patient education, preventive health advice, and patient involvement in health care.  A comprehensive health plan is outlined in our preventive screening handout. It explains how frequently children and adults should be seen for preventive checkups and details the frequency of certain laboratory and diagnostic tests as well as the most important health habits you should follow. Please ask for a copy of this pamphlet. Soon after becoming our patient, you should have a complete examination, following which we will discuss a personalized health maintenance program with you.</p>
            <h4>Diagnostic Services</h4>
            <p>Among the diagnostic procedures we are equipped to do are the following: electrocardiograms (which we interpret), X-rays (using modern equipment which is monitored yearly by New York State), spirometry (an evaluation of lung function), pap smears (to check for cervical cancer), dexascans (to measure bone density), allergy desensitization therapy. We perform urinalyses, urine cultures, throat cultures, hemoglobin tests (for detection of anemia), blood glucose tests, pregnancy tests, stool occult blood tests and other selected tests. Cayuga Medical center runs a laboratory draw station in our building, which many patients find to be a great convenience.  Most laboratory results are available the next day, by computer.  If you choose to have your blood drawn at the Cayuga Medical Center facility in our office, you will be billed for the laboratory services directly by Cayuga Medical Center. Please check with your insurance company about coverage for laboratory tests</p>
            <h4>Emergencies</h4>
            <p>Please inform us of any emergency, as we have facilities for minor surgical procedures in our office.  We may be able to save you time and money by treating your emergency in our office.  We will advise you if we feel it is better that you go to the  Emergency Room or the Convenient Care Center. Please do call us, if possible, before coming to the office.  If the situation is obviously critical or life threatening, you should, of course, go directly to the hospital emergency room.</p>
        </div>
        <div class="col-md-2 col-sm-2 col-1">

        </div>
    </div>
</main>
{% endblock %}
